.ui-layout-north { z-index:20 !important; overflow:visible !important;} 
.ui-layout-north .ui-layout-unit-content {overflow:visible !important;}
.ui-widget,
.ui-widget .ui-widget
{
    font-size: 12 !important;
}

.ui-datatable table {
	font-size: 12
}