<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<!-- 
		Replace path to template, title, header and body
		with actual data.
-->
<p:menubar>
	<p:submenu label="Stammdaten">
		<p:menuitem value="Kunden" outcome="Kunden" />
		<p:menuitem value="Produkte" outcome="Kunden" />
	</p:submenu>
	<p:submenu label="Sachbearbeitung">
		<p:menuitem value="Aufträge verwalten" outcome="Kunden" />
		<p:menuitem value="Break" url="http://www.break.com" />
	</p:submenu>
	
</p:menubar>

</html>
