<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:outputText value="&lt;!DOCTYPE html&gt;" escape="false" />

<f:view>
	<h:head>
		<title>supportTX</title>
		<h:outputStylesheet name="Primex.css" library="css" />
	</h:head>
	<p:growl id="growl" showDetail="false" sticky="false" life="5000" />
	<h:body>
		<p:layout fullPage="true">
			<p:layoutUnit position="north">
				<ui:insert name="header">
					
					<h4 align="right">supportTX</h4>
					<ui:include src="menue.xhtml" />
				</ui:insert>
			</p:layoutUnit>
			<p:layoutUnit position="center">
				<ui:insert name="content">
						Enter center Content here.				
					</ui:insert>
			</p:layoutUnit>
			<p:layoutUnit position="south" resizable="false" size="20">
				<ui:insert name="south">
					<p:panelGrid id="footer" columns="2">
					</p:panelGrid>
				</ui:insert>
			</p:layoutUnit>
		</p:layout>
	</h:body>
</f:view>
</html>