<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<cc:interface>
		<cc:attribute name="bean" type="de.cipkommunal.prcr.presentation.LoginBean" required="true"/>
		<cc:attribute name="action" method-signature="void f()"></cc:attribute>
	</cc:interface>
	
	<cc:implementation>
		<h3>Bitte melden Sie sich an:</h3>

			<h:form>
				<div>
					<label>Benutzername: </label>
					<h:inputText id="username" value="#{cc.attrs.bean.username}" required="true" requiredMessage="Bitte Benutzernamen eingeben." validator="#{userValidator.validateUsername}">
						<f:ajax event="valueChange" render="usernameMessage"/>
					</h:inputText>
					<h:message id="usernameMessage" for="username" class="alert"/>
		
					<label class="control-label" for="password">Passwort: </label>
					<h:inputSecret id="password" value="#{cc.attrs.bean.password}" required="true" requiredMessage="Bitte Passwort eingeben." validator="#{userValidator.validatePassword}">
						<f:ajax event="valueChange" render="passwordMessage" />
					</h:inputSecret>
					<h:message id="passwordMessage" for="password" class="alert"/>
					
			<!-- 		<h:messages globalOnly="true" class="alert alert-danger"/> -->
				</div>

				<h:commandButton class="btn btn-primary" value="Login" actionListener="#{cc.attrs.bean.preLogin()}" action="#{cc.attrs.action}"/>
			</h:form>
	</cc:implementation>
      
</ui:composition>