<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<ui:composition template="WEB-INF/templates/template.xhtml">
	<ui:define name="content">

		<h:head>
			<title>E-Mail senden - supportTX</title>
		</h:head>
		<h:form>
			<p:commandButton value="Senden" icon="ui-icon-mail-closed"
				action="#{emailController.sendMail()}" ajax="false" />
			<p:commandButton value="Abbrechen" icon="ui-icon-close"
				action="#{mitarbeiterController.doCancel()}" ajax="false" />
			<hr />
			<h3 style="padding-left: 20">E-Mail senden</h3>
			<p:panelGrid columns="2">
				<p:outputLabel id="lblempfaenger">Empfänger:</p:outputLabel>
				<p:inputText value="#{emailController.toMailAdress}"
					label="lblempfaenger" size="40" placeholder="Empfänger" />
				<p:outputLabel id="lblSubject">Betreff:</p:outputLabel>
				<p:inputText value="#{emailController.mailSubject}"
					label="lblSubject" placeholder="Betreff" size="200" />
			</p:panelGrid>
			<p:editor value="#{emailController.mailBody}"></p:editor>


		</h:form>


	</ui:define>
</ui:composition>
</html>