<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<ui:composition template="WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:form>
			<h1>supportTX</h1>
		</h:form>

	</ui:define>
</ui:composition>
</html>