<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<ui:composition template="WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<h:form>
	
	<p:commandButton value="Neuer Kunde" icon="ui-icon-plus"
				action="#{kundeUebersichtController.doAddKunde()}" ajax="false" />
	<hr/>
		<p:dataTable var="kunde" value="#{kundeUebersichtController.kunden}" filteredValue="#{kundeUebersichtController.filteredKunden}"
			paginator="true" rows="5"
			>
			<f:facet name="header">
               Kunden
        </f:facet>
		<p:column style="width:15">
					<p:commandButton icon="ui-icon-trash" onclick="confirmation.show()"
						actionListener="#{kundeUebersichtController.doDeleteKunde(kunde)}" />
				</p:column>
			<p:column style="width:15">
					<p:commandButton  icon="ui-icon-pencil"
						action="#{kundeUebersichtController.doEditKunde(kunde)}" />
				</p:column>
			<p:column headerText="Kunde" sortBy="kdName"
			filterBy="#{kunde.kdName}" filterMatchMode="contains"
			>
              <h:commandLink action = "#{kundeUebersichtController.doShowKunde(kunde)}"> #{kunde.kdName}</h:commandLink>
        	</p:column>
			<p:column headerText="Anschrift">
               #{kunde.anschrift}
        	</p:column>
			<p:column headerText="Ort" sortBy="#{kunde.ort}"
				filterBy="#{kunde.ort}" filterMatchMode="contains">
				<h:outputText value="#{kunde.ort}" />
			</p:column>
			<p:column headerText="Telefon">
               #{kunde.telefon}
	        </p:column>
			<p:column headerText="Mail">
        	       #{kunde.email}
        	</p:column>
        	
		</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>
</html>