<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<ui:composition template="WEB-INF/templates/template.xhtml">

	<ui:define name="content">

		<h:form>
			<p:commandButton value="Speichern" icon="ui-icon-disk"
				action="#{kundeController.doSave()}" ajax="false"
				rendered="#{kundeController.editable}" />
			<p:commandButton value="Abbrechen" icon="ui-icon-close"
				action="#{kundeController.doCancel()}" ajax="false" />
			<p:commandButton value="Neuer Mitarbeiter" icon="ui-icon-plus"
				action="#{kundeController.doAddMitarbeiter()}" ajax="false"
				rendered="#{kundeController.editable}" />
			<hr />
			<h3 style="padding-left: 20">Kunde bearbeiten</h3>
			<p:panelGrid columns="2" style="padding-top:20">
				<p:outputLabel id="lblKunde">Kunde:</p:outputLabel>
				<p:inputText value="#{kundeController.kunde.kdName}"
					label="lblKunde" size="40" placeholder="Kunde" />
				<p:outputLabel id="lblStrasse">Straße:</p:outputLabel>
				<p:inputText value="#{kundeController.kunde.anschrift}"
					label="lblStrasse" placeholder="Straße" size="40" />
				<p:outputLabel id="lblPLZ">PLZ:</p:outputLabel>
				<p:inputText value="#{kundeController.kunde.plz}" label="lblPLZ"
					placeholder="PLZ" size="20" />

				<p:outputLabel id="lblOrt">Ort:</p:outputLabel>
				<p:inputText value="#{kundeController.kunde.ort}" label="lblOrt"
					placeholder="Ort" size="40" />
				<p:outputLabel id="lblTelefon">Telefon:</p:outputLabel>
				<p:inputText value="#{kundeController.kunde.telefon}"
					label="lblTelefon" placeholder="Telefon" size="40" />
				<p:outputLabel id="lblTelefax">Telefax:</p:outputLabel>
				<p:inputText value="#{kundeController.kunde.telefax}"
					label="lblTelefax" placeholder="Telefax" size="40" />
				<p:outputLabel id="lblemail">E-Mail:</p:outputLabel>
				<p:inputText value="#{kundeController.kunde.email}" label="lblemail"
					placeholder="E-Mail" size="40" />
			</p:panelGrid>
		</h:form>
		<hr />
		<h:form rendered="#{kundeController.kunde.id>0}">

			<p:dataTable var="mitarbeiter"
				value="#{kundeController.mitarbeiters}" paginator="false" rows="5">
				<f:facet name="header">
               Mitarbeiter
        </f:facet>
				<p:column style="width:15">
					<p:commandButton icon="ui-icon-trash" onclick="confirmation.show()"
						actionListener="#{kundeController.doDeleteMitarbeiter(mitarbeiter)}" />
				</p:column>
				<p:column style="width:15">

					<p:commandButton icon="ui-icon-pencil"
						action="#{kundeController.doEditMitarbeiter(mitarbeiter)}" id="cmdEdit" />
				<p:tooltip for="cmdEdit" >Mitarbeiter bearbeiten</p:tooltip>
				</p:column>
		
				<p:column style="width:15">

					<p:commandButton icon="ui-icon-mail-closed" id="cmdMail"
						action="#{kundeController.doMitarbeiterMail(mitarbeiter)}" />
						<p:tooltip for="cmdMail">E-Mail an Mitarbeiter senden</p:tooltip>
				</p:column>
				<p:column headerText="Zuname" sortBy="zuname"
					filterBy="#{mitarbeiter.zuname}" filterMatchMode="contains">
	    	           #{mitarbeiter.zuname}
    	    	</p:column>
				<p:column headerText="Vorname" sortBy="vorname"
					filterBy="#{mitarbeiter.vorname}" filterMatchMode="contains">
               #{mitarbeiter.vorname}
        	</p:column>
				<p:column headerText="Telefon" sortBy="telefon">
	    	           #{mitarbeiter.telefon}
    	    	</p:column>
				<p:column headerText="Mobil" sortBy="mobil">
	    	           #{mitarbeiter.mobil}
    	    	</p:column>
				<p:column headerText="E-Mail">
					<h:outputText value="#{mitarbeiter.email}" />
				</p:column>
				<p:column headerText="Telefax" sortBy="telefax">
	    	           #{mitarbeiter.telefax}
    	    	</p:column>

			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>
</html>