<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<ui:composition template="WEB-INF/templates/template.xhtml">
	<ui:define name="content">

		<h:head>
		<title>Mitarbeiter bearbeiten - supportTX</title>
		</h:head>	
		<h:form>
			<p:commandButton value="Speichern" icon="ui-icon-disk"
				action="#{mitarbeiterController.doSave()}" ajax="false" />
			<p:commandButton value="Abbrechen" icon="ui-icon-close"
				action="#{mitarbeiterController.doCancel()}" ajax="false" />
			<hr/>
				<h3 style="padding-left:20">  Mitarbeiter bearbeiten</h3>
			<p:panelGrid columns="2">
				<p:outputLabel id="lblVorname">Vorname:</p:outputLabel>
				<p:inputText value="#{mitarbeiterController.mitarbeiter.vorname}"
					label="lblVorname" size="40" placeholder="Vorname" />
				<p:outputLabel id="lblZuname">Zuname:</p:outputLabel>
				<p:inputText value="#{mitarbeiterController.mitarbeiter.zuname}"
					label="lblZuname" placeholder="Zuname" size="40" />
				<p:outputLabel id="lblMobil">Mobil:</p:outputLabel>
				<p:inputText value="#{mitarbeiterController.mitarbeiter.mobil}"
					label="lblMobil" placeholder="Mobil-Rufnummer" size="40" />

				<p:outputLabel id="lblTelefon">Telefon:</p:outputLabel>
				<p:inputText value="#{mitarbeiterController.mitarbeiter.telefon}"
					label="lblTelefon" placeholder="Telefon" size="40" />

				<p:outputLabel id="lblemail">E-Mail:</p:outputLabel>
				<p:inputText value="#{mitarbeiterController.mitarbeiter.email}"
					label="lblemail" placeholder="E-Mail" size="40" />
				<p:outputLabel id="lblTelefax">Telefax:</p:outputLabel>
				<p:inputText value="#{mitarbeiterController.mitarbeiter.telefax}"
					label="lbltelefax" placeholder="Telefax" size="40" />


			</p:panelGrid>
		</h:form>


	</ui:define>
</ui:composition>
</html>